.search {
  background: none;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  outline: none;
}
textarea {
  resize: none;
  border-radius: 10px;
  background: none;
  background-color: rgba(128, 128, 0, 0.327);
  border: none;
  outline: none;
  width: 250px;
  height: 200px;
}
.cards {
  width: 100vw;
margin-top: 20px;
  display: flex;
  gap: 20px;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
